In [ ]:
from polygon import RESTClient
import config
import pandas as pd

client = RESTClient(config.API_KEY)


api = config.API_KEY
ticker = None
limit = 1000
market = 'stocks'
type = 'CS'
exchange = 'XNAS'

tickers = []
for ticker in client.list_tickers(type='CS',market='stocks',limit=1000,exchange='XNAS'):
    tickers.append(ticker)
    
df = pd.DataFrame(tickers)
listOfTickers = df['ticker']
dflistOfTickers = pd.DataFrame(listOfTickers)

marketCaps = []
i=0
for ticker in listOfTickers:
     marketCaps.append(client.get_ticker_details(ticker=ticker).market_cap)
     i += 1
     print('running',i)

dflistOfTickers['marketCap'] = marketCaps
dflistOfTickers.to_csv('tickersAndMarketcaps.csv',index=False)

In [3]:
dflistOfTickers

     ticker     marketCap
0      AACI  2.095801e+08
1      AADI  3.129894e+08
2       AAL  8.266739e+09
3      AAME  4.767968e+07
4      AAOI  5.390983e+07
...     ...           ...
3495   ZUMZ  4.237291e+08
3496   ZVSA  1.425862e+07
3497   ZYME  4.951510e+08
3498   ZYNE  2.494324e+07
3499   ZYXI  5.355350e+08

[3500 rows x 2 columns]

In [4]:
dflistOfTickersLt500M = dflistOfTickers[dflistOfTickers['marketCap']<500000000]

In [5]:
dflistOfTickersLt500M

     ticker     marketCap
0      AACI  2.095801e+08
1      AADI  3.129894e+08
3      AAME  4.767968e+07
4      AAOI  5.390983e+07
10     ABEO  5.290146e+07
...     ...           ...
3494   ZTEK  1.542677e+08
3495   ZUMZ  4.237291e+08
3496   ZVSA  1.425862e+07
3497   ZYME  4.951510e+08
3498   ZYNE  2.494324e+07

[2197 rows x 2 columns]